<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<<<<<<< Updated upstream
  <nav class=" navbar-inverse" style="margin-bottom: 0px; height: 50px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo" [routerLink]="['']">FOOD ORDER</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['']">Home</a>
        </li>
      </ul>
      <ul *ngIf="!login" class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/signup']">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a [routerLink]="['/login']">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
      <ul *ngIf="login" class="nav navbar-nav navbar-right" style="
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;">
        <li>
          <a>
            <span class="glyphicon glyphicon-user"></span>{{name}}</a>
        </li>
        <li>
          <a [routerLink]="['']" (click)="removeLocal()">
            <span class="glyphicon glyphicon-log-in"></span>Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</body>
=======
  
<nav class="navbar navbar-inverse" style="margin-bottom: 0px; height: 50px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" [routerLink]="['']">FOOD ORDER</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['']">Home</a></li>
    </ul>
    <ul *ngIf="!login" class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="login" class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon-user"></span>{{name}}</a></li>
        <li><a [routerLink]="['']" (click)="removeLocal()" ><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
    </ul>
  </div>
</nav>

</body>
>>>>>>> Stashed changes
