/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
<<<<<<< Updated upstream
@import "~bootstrap/dist/css/bootstrap.min.css";


=======
>>>>>>> Stashed changes
body {
    margin: 0 !important;
    padding: 0;
}
html{
    background-color: whitesmoke;
}