<div class="group" *ngFor='let group of groups'>
    <img src="" alt="" srcset="">
    <div class="name">{{group.name}}</div>
    <div>{{group.creator}}</div>
    <button [routerLink]="['/group/', group._id]" >Vao</button>
</div>>