:host{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    width: 80%;
}
.group{
    border: 1px solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 30%;
}
.name {
    margin-right: 20%;
    border-right:  1px solid ;
    width: 20%;
}