.all{
    .tieude{
        width: 100%;
        height: 50px;
        background-color: gray;
        h4{
            color: white;
            line-height: 50px;
            padding: 0px 20px 10px 10px
        }
    }
    .chonnhom{
        padding: 10px 10px 10px 10px;
        .luachon{
            width: 150px;
            margin-right: 20px;
        }
        .button{
            border-radius: 5px;
            background-color: rgb(7, 140, 145);
            color: white;
        }
    }
    .modal-content{
        width: 800px;
        .order{
            display: flex;
            .modal-body{
                flex: 1;
                input{
                    width: 100%;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: solid 1px gainsboro;
                    margin-bottom: 20px;
                    padding-bottom: 5px;

                }
            }
            .cot2{
                flex: 1;
                .tieude1{
                    b{
                        padding-top: 5px;
                    }
                }
                input{
                    margin-top: 10px;
                    width: 100%;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: solid 1px gainsboro;
                    margin-bottom: 20px;
                    padding-top: 10px;

                }
                button{
                    margin-right: 5px;
                }

            }
    
        }
    }
  
    
}