<div class="all">
  <div class="tieude">
    <h4 style="margin-top: 1px">Bạn Muốn Ăn Gì Đó Không ?</h4>
  </div>
  <div class="chonnhom">
    <p><b>Chọn nhóm:</b></p>
    <select class="luachon">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <button type="button" class="button" data-toggle="modal" data-target="#myModal">Tạo Menu</button>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Menu Thực Đơn</h4>
        </div>
        <div class="order">
            <div class="modal-body">
                <input style="border-left: none" type="text" placeholder="Tên đơn đặt hàng">
                <input style="border-left: none" type="text" placeholder="Thời gian tự động đơn hàng (phút)">
                <input style="border-left: none" type="text" placeholder="Thông tin thêm">
               
              </div>
              <div class="cot2">
                 <input style="border-left: none" type="text" placeholder="Tên món hoặc quán ăn">
                <button type="button" class="btn btn-default" >Tạo ngay</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
      
      </div>
      
    </div>
  </div>
</div>