<div class="all">
  <div class="tieude">
    <h3>Tạo nhà hàng của bạn</h3>
  </div>
  <div class="form">
    <div class="tennhahang">
        <span>Tên Nhà Hàng:</span><br>
        <input [(ngModel)]="myRestaurant.name" type="text" name="" placeholder="Nhập tên nhà hàng">
    </div>
    <div class="diachi">
      <span>Địa chỉ:</span><br>
      <input [(ngModel)]="myRestaurant.address" type="text" name="" placeholder="Nhập Địa Chỉ">
    </div>
    <div class="sodienthoai">
      <span>Số điện thoại</span><br>
      <input [(ngModel)]="myRestaurant.phone" type="text" name=""placeholder="Nhập số điện thoại">
    </div>
    <div class="anh">
      <span>Hình ảnh nhà hàng</span><br>
      <input type="file" name="">
    </div>
    <div class="monan">
      <button type="button" class="button" data-toggle="modal" data-target="#myModal">Tạo Menu</button>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tạo Món Ăn</h4>
            </div>
            <div class="order">
                <div class="modal-body">
                    <input [(ngModel)]="myFood.name" style="border:none; border-bottom: 1px solid black;margin-right: 20px; margin-left: 50px;" type="text" placeholder="Tên món ăn">
                    <input [(ngModel)]="myFood.price" style="border:none;border-bottom: 1px solid black" type="number" placeholder="Giá tiền">                   
                  </div>
                  <div class="cot2">
                    <button type="button" class="btn btn-default" style="margin-left: 160px;"  (click)="CreateFood()">Tạo ngay</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
                    </div>
  
          </div>
          
        </div>
      </div>
    </div>
    <div class="submit" style="margin-top: 20px;">
        <button (click)="CreateRestaurant()"style="margin-right: 20px">Xác nhận tạo</button>
        <button>Hủy Bỏ</button>
      </div>
  </div>
</div>