:host{
    width: 70%;
}
.all{
 width: 1000px;
 margin-top: 10px;
//  box-shadow: 1px 5px #888888;
//  background-color: blanchedalmond;
 height: 450px;
 .tieude{
     text-align: center;
 }
 .form{
     padding-left: 200px;
     .tennhahang, .diachi, .sodienthoai,.anh{
    input{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 500px;
            border: none;
            border-bottom: 1px solid gray;
            background: whitesmoke;
        }
     }
     .anh{
         input{
             border: none;
         }
         .submit{
             button{
                margin-right: 10px;
             }
         }
     }
 }
 .oder{
     .modal-body{
         input{
             margin-left: 50px;
         }
     }
 }

}
