<form action="#" id="login-form">
  <div class="form-group">
    <label class="label-control">
    </label>
    <input [(ngModel)]="name" type="text" name="namegruop" class="form-control" placeholder="Tennhom" />
  </div>
  <input type="submit" value="Create" class="btn" (click)=" creategruop()" />
  </form>
  