<div class="form-box">
  <div class="head">Welcome ANCUNG</div>
  <form action="#" id="login-form">
    <div class="form-group">
      <label class="label-control">
      </label>
      <input [(ngModel)]="email" type="email" name="email" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group">
      <label class="label-control">
      </label>
      <input [(ngModel)]="username" type="text" name="user" class="form-control" placeholder="User" />
    </div>
    <div class="form-group">
      <label class="label-control">
      </label>
      <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group">
      <label class="label-control">
      </label>
      <input [(ngModel)]="telephone" type="number" name="telephone" class="form-control" placeholder="Telephone" />
    </div>
    <div class="form-group">
      <label class="label-control">
      </label>
      <input [(ngModel)]="sex  "type="password" name="sex" class="form-control" placeholder="Sex" />
    </div>

    <input type="submit" value="SIGNUP" class="btn" (click)=" singUp()"/>
    <p class="text-p">Do you have a account?
      <a [routerLink]="['/login']">Login</a>
    </p>

  </form>
</div>