:host{
    margin: 1%;
    width: 20%;
    border-right: 2px solid black;
}
.all-board{
    .anhbia{
        width: 100%;
        height: 100px;
        background-image: url("https://www.planwallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg");
        position: relative;
        border-bottom: solid 1px gray;
    }
    img{
        width: 5%;
        position: absolute;
        margin-left: 10px;
        margin-top: -30px;
        }
        p{
            padding-top: 10px;
            padding-left: 100px;
        }
        .footer{
            display: flex;
            text-align: center;
            padding-top: 10px;
            border-top: solid 1px gainsboro;
           
        
    .menu{
        flex: 1;
    }
    .nhom{
        flex: 1;

    }
    p{
        padding-top: 9px;
            padding-left: 9px;
    }
}

}
.all{
    .header{
        width: 100%;
        border-bottom: solid 1px gainsboro;
        height: 30px;

        b{
            padding: 3px 3px 3px 3px;
            line-height: 28px;
        }
    }
    .action{
    
        .span{
            width: 100%;
            padding: 15px 5px 5px 20px;
            a{
                color: black;
            }
            
        }
        .span:hover{
            background-color: rgb(9, 106, 216);
            cursor: pointer;
            color: white;

            a:hover{
                color: white;
                text-decoration: none;
            }
        }
    }
    .modal-content{
        width: 800px;
        .order{
            display: flex;
            .modal-body{
                flex: 1;
                input{
                    width: 100%;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: solid 1px gainsboro;
                    margin-bottom: 20px;
                    padding-bottom: 5px;

                }
            }
            .cot2{
                flex: 1;
                .tieude1{
                    b{
                        padding-top: 5px;
                    }
                }
                input{
                    margin-top: 10px;
                    width: 100%;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: solid 1px gainsboro;
                    margin-bottom: 20px;
                    padding-top: 10px;

                }
                button{
                    margin-right: 5px;
                }

            }
    
        }
    }
}