<div class="all-board">
  <div class="anhbia">
  </div>
  <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-1/c0.40.160.160/p160x160/22279581_521528958192926_2546658747301968130_n.jpg?oh=ae2822ec74b74c825eeb4e77b458df46&oe=5B453B06">
  <p>@{{name}}</p>
  <div class="footer">
    <div class="menu">
      <span>MENUS</span>
      <p>0</p>
    </div>
    <div class="nhom">
      <span>NHÓM</span>
      <p>0</p>
    </div>
  </div>

</div>
<div class="all">
  <div class="header">
    <b>Khám phá</b>

  </div>

  <div class="action">
    <div class="span" [routerLink]="['group']">
      <a>Nhóm</a>
    </div>
    <div class="span" [routerLink]="['creategruop']">
      <a> Them Nhóm</a>
    </div>
    <div class="span" [routerLink]="['settingprofile']">
      <a>Cài đặt Tai Khoan</a>
    </div>
    <div class="span" [routerLink]="['createRestaurant']">
      <a data-toggle="modal">Thêm Nhà Hàng</a>
    </div>
    <div class="span">
      <a data-toggle="modal" data-target="#myModal">Thêm món ngon</a>
    </div>
  </div>
</div>