// .order-board{
    
//     display: flex;
//     margin: 10px 50px 50px 50px;
//     background-color: whitesmoke;
//     .left{
//        flex: 2;
//        margin-right: 30px;
//         .profile{
//             background: white;
//             width: 100%;
//             height: 220px;
//             margin-bottom: 30px;
            
//     padding: 10px;
//     box-shadow: 5px 1px silver;
//         }
//         .discover{
//             width: 100%;
//             height: 170px;
//             background: white;
//             padding: 10px;
//             box-shadow: 5px 1px silver;
//         }
//     }
//     .right{
//        flex: 5;
//         .createmenu{
//             background-color: white;
//             width: 100%;
//             height: 150px;
//             box-shadow: 5px 1px silver;
           
//         }
//         .listmenu{
//            margin-top: 25px;
//             width: 100%;
//             height: 500px;
//         }
//     }
// }
// :host
// {
//     background-color: whitesmoke;

// }
:host{
    margin: 1%;
    display: flex;
    //flex-direction: column;
    
}
