<<<<<<< HEAD
=======
<!-- <div class="order-board">
  <div class="left">
    <div class="profile">
      <app-profile></app-profile>
    </div>
    <div class="discover">
      <app-discover></app-discover>
    </div>
  </div>
  <div class="right">
      <div class="createmenu">
          <app-createmenu></app-createmenu>
        </div>
    <div class="listmenu">
        <app-listmenu></app-listmenu>
    </div>
<<<<<<< Updated upstream
=======
    {{name}}
>>>>>>> Stashed changes
  </div>
</div> -->
>>>>>>> db6b47a230b0fb90ba7dcf27bc4b614fefeab40f

<app-left></app-left>
<router-outlet></router-outlet>