body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    width: 100%;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
   
    height: 500px;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1975968/1360/906/m1/fpnw/wm1/u327jilz1k5qg9zkqrolwekuw4qqxhwr8olzyznr86nyq1ykghyev1zacxaz4uj3-.jpg?1480686447&s=c83588a72c0940648334b98b3194568b");
    min-height: 400px;
    opacity: 0.8;

}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("https://static1.squarespace.com/static/5395130de4b09ddb699acb37/t/57d5ad1d3e00be430c583ca9/1473621283973/Ingredients+for+cooking+and+empty+cutting+board+on+an+old+wooden+table.+Food+background+with+copyspace.jpg?format=1500w");
    min-height: 400px;
    opacity: 0.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
agm-map {
    height: 300px;
  }