  <div class="form-box">
    <div class="head">Welcome ANCUNG</div>        
    <form action="#" id="login-form">
        <div class="form-group">
          <label class="label-control">
          
          </label>
          <input [(ngModel)]="email" type="email" name="email" class="form-control" placeholder="Email"/>
        </div>
        <div class="form-group">
          <label class="label-control">    
          </label> 
          <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn" (click)=" checkLogin()" />
        <p class="text-p">Don't have an account? <a [routerLink]="['/signup']">Sign up</a> </p>
    </form>
  </div>