.all{
    margin: 10px 200px 200px 200px;
    height: 300px;
    background-color: white;
    .tieude{
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        border-bottom: solid 1px gray;
        h4{
            color: rgb(79, 79, 212);
            line-height: 50px;
            padding: 0px 20px 10px 10px
        }
        button{
            margin-left: 680px;
            width: 12%;
            margin-top: 10px;
            margin-bottom: 10px;
            border: none;
            background-color:  rgb(68, 68, 233);
            box-shadow: 2px 2px whitesmoke;
            color: white;
            }
    }
    .chonnhom{
        padding: 10px 10px 10px 10px;
        .luachon{
            width: 150px;
            margin-right: 20px;
        }
        .button{
            border-radius: 5px;
            background-color: rgb(46, 43, 226);
            color: #ffffff;
        
        }
    }
}